body {
    /* background-color: #434040; */
    background-image: url(../img/dark.jpg);
    background-repeat: no-repeat;
    color: #fff;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #00dba0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.wrapper h1 {
    text-align: center;
    margin: 20px auto;
    font-size: 2.4em;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav {
    justify-self: end;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav button{
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 1em;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.article {
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
    background-color: #fff;
    color: black;
}

.black{
    color: black;
    font-size: 1.5em;
    text-decoration: underline;
}

.article h2{
    font-size: 1.2em;
    color: black;
}

.article .author{
    padding: 10px;
    background-color: #00dba0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
    font-weight: 600;
}

.article_detail .article{
    padding: 0;
}

.article_detail .article h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em;
}

.article_detail .article p{
    text-align: center;

}

.site-form {
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
}

.site-form input, .site-form textarea {
    display: block;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.site-form input[type="submit"]{
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 10px 0;
}

a.highlight {
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 10px;
    color: #00dba0;
}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 1.0em;
    display: block;
}

.errorlist{
    padding: 0;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;

}