body {
    background-color: #0f121f;
    background-image: url(../img/star.jpg);
    background-repeat: no-repeat;
    color: #fff;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}