{% extends 'base.html' %}

{% block content %}
    <h1>Article List</h1>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <h2><a class="black" href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a></h2>
                <p>{{article.snippet}}</p>
                <p>{{article.date}}</p>
                <p class="author">Author: {{ article.author }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}