{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1><a href="{% url 'home' %}"><img height="100px" src="{% static 'img/logo.png' %}" alt="logo"></a></h1>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
            </li>
            <li><a href="{% url 'articles:create' %}" class="highlight">New Article</a></li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
            {% endif %} 
        </ul>
    </nav>
    <div class="wrapper">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>